/* Google Font Import Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    /* colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* new */
    --btn-color: var(--primary-color);
    --table-color-th: #000;
    --table-color-td: #111;

    /* Transition */
    --tran-02: all .2s ease;
    --tran-03: all .3s ease;
    --tran-04: all .4s ease;
    --tran-05: all .5s ease;
}

body{
    background: var(--body-color);
    height: 100vh;
    transition: var(--tran-05);
}

body.dark{
    --body-color: #666;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;

    /* new */
    --btn-color: var(--text-color);
    --table-color-th: #fff;
    --table-color-td: whitesmoke;
}

.text-style{
    color: var(--text-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select, textarea{
    width: 99%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* sidebar */
.sidebar{
    background: var(--sidebar-color);
    height: 100%;
    padding: 10px 14px;
    position: fixed;
    left: 0;
    top: 0;
    transition: var(--tran-05);
    width: 250px;
    z-index: 100;
}
.sidebar.close{
    width: 88px;
}
/* reuseable css */
.sidebar .text{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    transition: var(--tran-03);
    white-space: nowrap;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .image{
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 60px;
}
.sidebar li{
    align-items: center;
    display: flex;
    height: 50px;
    list-style: none;
    margin-top: 10px;
}
.sidebar li .icon{
    align-content: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    min-width: 60px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    border-radius: 6px;
    width: 40px;
}
.sidebar header .image-text{
    align-items: center;
    display: flex;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle{
    align-items: center;
    background: var(--primary-color);
    border-radius: 50%;
    color: var(--sidebar-color);
    display: flex;
    font-size: 22px;
    height: 25px;
    justify-content: center;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: var(--tran-03);
    width: 25px;
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar .menu{
    margin-top: 35px;
}
.sidebar .menu .menu-links .nav-link{
    padding: 0;
}
.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran=05);
}
.search-box input{
    background: var(--primary-color-light);
    color: var(--text-color);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    outline: none;
    width: 100%;
}
.sidebar li a{
    align-items: center;
    border-radius: 6px;
    display: flex;
    height: 100%;
    text-decoration: none;
    transition: var(--tran-04);
    width: 100%;
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a.active{
    background: var(--primary-color);
}
.sidebar li a.active .icon,
.sidebar li a.active .text{
    color: var(--sidebar-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
body.dark .sidebar li a.active .icon,
body.dark .sidebar li a.active .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    justify-content: space-between; 
}

.menu-bar .mode{
    background: var(--primary-color-light);
    border-radius: 6px;
    position: relative;
}

.menu-bar .mode .moon-sun{
    align-items: center;
    display: flex;
    height: 50px;
    width: 60px;
}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}
.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    align-items: center;
    background: var(--primary-color-light);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 60px;
    position: absolute;
    right: 0px;
    transition: var(--tran-05);
}
.toggle-switch .switch{
    background: var(--toggle-color);
    border-radius: 25px;
    height: 22px;
    position: relative;
    width: 44px;
}
.switch::before{
    background: var(--sidebar-color);
    border-radius: 50%;
    content: '';
    height: 15px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--tran-03);
    width: 15px;
}

body.dark .switch::before{
    left: 24px;
}

.home{
    background: var(--body-color);
    height: 100vh;
    left: 250px;
    padding: 20px;
    position: relative;
    transition: var(--tran-05);
    width: calc(100% - 250px);
}
.home .text{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    padding: 8px 40px;
}
.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

/* new codes */

/* referral */
.button-section {
    text-align: left;
    margin-bottom: 70px;
}

.button-section .btn {
    background-color: var(--btn-color);
    border: none;
    color: var(--sidebar-color);
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: var(--tran-04);
}

.button-section .btn:hover {
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

table th{
    color: var(--table-color-th);
}
table td{
    color: var(--table-color-td);
}

/* profile */
.profile {
    margin-top: 20px;
    text-align: center;
}

.profile-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}

.col-md-3 {
    background-color: var(--sidebar-color);
    height: 500px;
}

.col-md-9 {
    background-color: var(--sidebar-color);
    height: 500px;
    padding-top: 20px;
}

.button-container {
    margin-top: 30px;
}

.button-container button {
    display: block;
    margin: 10px auto;
    width: 80%;
}


/* enroll */
.job-container {
    color: var(--text-color);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid var(--sidebar-color);
    background-color: var(--sidebar-color);
}

.job-details {
    margin-top: 20px;
}

.job-details p {
    margin: 10px 0;
}

.job-details label {
    font-weight: bold;
}

.job-description {
    margin-top: 20px;
}

.job-description label {
    display: block;
    font-weight: bold;
}

.job-description p {
    margin-top: 10px;
}

.job-footer {
    margin-top: 20px;
    text-align: center;
}

/* profile section */
.wrapper-div {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper-div .profile-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper-div .profile-box {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* dashboard */
.container-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-dashboard .box {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    /* padding: 20px; */
    background-color: var(--primary-color-light);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-dashboard .box > div:first-child {
    padding-top: 10px;
    /* background: blue; */
    width: 75%;
    color: var(--text-color);
    /* text-align: left;
    padding-left: 10px; */
}

.container-dashboard .box > div:first-child h2{
    font-size: 25px;
}
  
.container-dashboard .box > div:last-child {
    /* background: red; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--text-color);
}

@media (min-width: 576px) {
    .container-dashboard .box {
      width: calc(50% - 20px);
    }
}

@media (min-width: 992px) {
    .container-dashboard .box {
      width: calc(25% - 20px);
    }
}